.wrapper{
  background-color: black;
}
p{
  color:white;
  font-size:3em;
  font-family: "Audiowide";
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0ff;
}
.box{
  height: auto;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.margin20px{
  margin:20px;
}
.box_glow{
  border: double #0ff 2px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #0ff;
}
